figure {
	margin: 0;
}
a,button,.button {
	transition: all .3s linear !important;
	-webkit-transition: all .3s linear !important;
	-moz-transition: all .3s linear !important;
}
input[type="text"],
input[type="email"],
input[type="tel"],
select {
	padding: rem-calc(30 20);
	&[type="file"] {
		display: none;
	}
	&[type="checkbox"] {
		@include translateY(rem-calc(2));
	}
}
h1,h2,h3,h4,h5,h6
{
	font-family: inherit;
}