$border-color: #ccc;

#blog-header {
	height: rem-calc(420);
	//@include filter(grayscale(100%));
	hgroup {
		@extend .rel;
		z-index: 10;
	}
	h1 {
		@extend .no-margin;
		@extend .lh-small;
		@extend .rel;
	}
	h5 {
		@extend .no-margin;
		@extend .rel;
		font-size: rem-calc(24) !important;
		font-weight: 400 !important;
	}
}

.black-mask {
	@extend .small-12;
	@extend .abs;
	@extend .left-axy;
	@extend %full-height;
	background-color: rgba(#000,.3);
	z-index: 1;
}

.post-item {
	margin-bottom: rem-calc(40);

	time {
		opacity: .6;
	}
}

.post-tags {
	li {
		margin-left: 0;
		&:not(:first-child) {
			h5 {
				&:before {
					content:"\00a0\b7\00a0";
					display: inline;
				}
			}
		}
	}
}

.post-item-share {
	li {
		&:first-child {
			margin-left: 0;
		}
	}
}

//Sidebar
#sidebar {
	> div {
		margin-top: rem-calc(60);
		padding: rem-calc(30 20);
	}
}

#search-form {
	input {
		height: rem-calc(60);
		border-color: $border-color;
		padding-right: rem-calc(46);
	}
	.icon-search {
		font-size: rem-calc(26);
		line-height: rem-calc(60);
		top: 0;
		right: rem-calc(10);
		color: $border-color;
		cursor: pointer;
		@extend %transition;
		&:hover {
			color: shade($border-color, 30%);
		}
	}
}

#instagram-side {
	padding: rem-calc(30 20);
	padding-bottom: rem-calc(10);
	background-color: #f6f7f8;

	li {
		@extend .small-6;
		@extend .text-center;
		margin-left: 0;
		margin-bottom: rem-calc(10);
		img {
			width: 90%;
			@extend .d-iblock;
		}
	}
}

#popular-posts {
	padding: rem-calc(20);
	padding-bottom: rem-calc(10);
	border: 1px solid $border-color;
	li {
		@extend .divide-10;
	}
}

.post-author {
	padding: rem-calc(10);
	background-color: #eaeaea;
	font-size: rem-calc(16);
	strong {
		opacity: .6;
	}
}

@media #{$small-only} {
	#blog-header {
		height: rem-calc(280);
		h1 {
			font-size: rem-calc(42) !important;
		}
		h5 {
			font-size: rem-calc(16) !important;
		}
	}
	.article-header {
		h1 {
			font-size: rem-calc(26);
		}
	}
	.post-author {
		p {
			font-size: rem-calc(12);
		}
	}
	#sidebar {
		> div {
			margin-top: 0;
			margin-bottom: rem-calc(40);
			padding: 0;
		}
	}
	.article-header {

	}
}

/**
 * Interna
 */

.article-header {
	time {
		opacity: .6;
	}
}

.alignleft {
	@extend .left;
	margin: rem-calc(3 10 10 0);
}

.alignright {
	@extend .right;
	margin: rem-calc(3 0 10 10);
}

.aligncenter {
	a & {
		@extend .d-block;
		@extend .divide-20;
		@extend .text-center;
	}
}

@media #{$large-up} {
	.article-content {
		padding-right: rem-calc(30);
	}
}