@media #{$small-only} {
  .row {
    width: rem-calc(320);
    max-width: none;
  }

  //footer
  #footer > .row {
    section:first-child {
      margin-bottom: rem-calc(20);
    }
  }
}
@media #{$medium-only} {
  .row {
    width: rem-calc(728);
    max-width: none;
  }
}
@media #{$large-up} {
  .footer-phone {
    margin-bottom: rem-calc(54);
  }
  .blank-map {
    margin-top: rem-calc(17);
  }
}
