//icones
@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?fh16no');
  src:url('fonts/icomoon.eot?#iefixfh16no') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fh16no') format('truetype'),
    url('fonts/icomoon.woff?fh16no') format('woff'),
    url('fonts/icomoon.svg?fh16no#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quote:before {
  content: "\e619";
}
.icon-check:before {
  content: "\e611";
}
.icon-calendar:before {
  content: "\e60f";
}
.icon-calendar2:before {
  content: "\e953";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-quotes-right:before {
  content: "\e978";
}
.icon-play2:before {
  content: "\ea15";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-chevron-right-outline:before {
  content: "\e60e";
}
.icon-chevron-left-outline:before {
  content: "\e60b";
}
.icon-phone:before {
  content: "\e600";
}
.icon-whatsapp:before {
  content: "\e601";
}
.icon-facebook-official:before {
  content: "\e602";
}
.icon-facebook-square:before {
  content: "\e603";
}
.icon-facebook:before {
  content: "\e604";
}
.icon-mail:before {
  content: "\e605";
}
.icon-instagram-with-circle:before {
  content: "\e606";
}
.icon-cross:before {
  content: "\e607";
}
.icon-cancel:before {
  content: "\e608";
}
.icon-facebook-with-circle:before {
  content: "\e609";
}
.icon-search:before {
  content: "\e60a";
}
.icon-location:before {
  content: "\e947";
}
.icon-spinner8:before {
  content: "\e981";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-facebook3:before {
  content: "\ea8e";
}
.icon-instagram:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea91";
}
.icon-twitter2:before {
  content: "\ea92";
}
.icon-twitter3:before {
  content: "\ea93";
}
.icon-quote2:before {
  content: "\e61a";
}
.icon-quote3:before {
  content: "\e61b";
}
.icon-calendar3:before {
  content: "\e610";
}
.icon-chevron-small-down:before {
  content: "\e616";
}
.icon-check2:before {
  content: "\e612";
}
.icon-chevron-thin-right:before {
  content: "\e60d";
}
.icon-chevron-thin-left:before {
  content: "\e60c";
}
.icon-chevron-thin-up:before {
  content: "\e617";
}
.icon-chevron-small-up:before {
  content: "\e618";
}
.icon-chevron-thin-down:before {
  content: "\e615";
}
.icon-chevron-small-down:before {
  content: "\e616";
}
.icon-check2:before {
  content: "\e612";
}
.icon-chevron-thin-right:before {
  content: "\e60d";
}
.icon-chevron-thin-left:before {
  content: "\e60c";
}
.icon-check-circle-o:before {
  content: "\e613";
}
.icon-check-circle:before {
  content: "\e614";
}

//displays
.d-block {
  display: block;
}
.d-iblock {
  display: inline-block;
}
.d-table {
  display: table;
}
.d-table-cell {
  display: table-cell;
  vertical-align: middle;
}

//Positions
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.left-axy {
  top: 0; left: 0;
}
