/*
  Placeholders
  --------------------------------------------
*/
%full-height {
  height: 100% !important;
}
%transition {
  @include transition(all .3s ease-in);
}

/*
  Foundation
  --------------------------------------------
*/
.collapse li {
  padding: 0 !important;
  img {
    width: 100%;
  }
}
.section-block {
  padding: rem-calc(60 0);
}
.show-onload {
  @extend %transition;
  visibility: hidden;
  opacity: 0;
  &.show {
    visibility: visible;
    opacity: 1;
  }
}

/*
  Breadcrumb
  --------------------------------------------
*/
#breadcrumb {
  small {
    display: inline-block;
    margin: rem-calc(0 10);
  }
  span:not(:first-child) {
    opacity: .7;
  }
}

/*
  Seletores
  --------------------------------------------
*/
a {
  @extend %transition;
}
figure {
  margin: 0;
}
body {
  position: relative;
}
/*
  Foundation Angular
  --------------------------------------------
*/
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}
.reveal-modal.fade {
  -webkit-transition: -webkit-transform .3s ease-out;
     -moz-transition:    -moz-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.reveal-modal.in {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.reveal-modal-bg.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.reveal-modal-bg.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
/*
  Tipografia
  --------------------------------------------
*/

/* icones */
@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?qxty9m');
  src:url('fonts/icomoon.eot?#iefixqxty9m') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qxty9m') format('truetype'),
    url('fonts/icomoon.woff?qxty9m') format('woff'),
    url('fonts/icomoon.svg?qxty9m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quote:before {
  content: "\e619";
}
.icon-check:before {
  content: "\e611";
}
.icon-calendar:before {
  content: "\e60f";
}
.icon-calendar2:before {
  content: "\e953";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-quotes-right:before {
  content: "\e978";
}
.icon-play2:before {
  content: "\ea15";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-pinterest:before {
  content: "\ead0";
}
.icon-social-pinterest-circular:before {
  content: "\e61f";
}
.icon-chevron-right-outline:before {
  content: "\e60e";
}
.icon-chevron-left-outline:before {
  content: "\e60b";
}
.icon-phone:before {
  content: "\e600";
}
.icon-whatsapp:before {
  content: "\e601";
}
.icon-facebook-official:before {
  content: "\e602";
}
.icon-facebook-square:before {
  content: "\e603";
}
.icon-facebook:before {
  content: "\e604";
}
.icon-mail:before {
  content: "\e605";
}
.icon-instagram-with-circle:before {
  content: "\e606";
}
.icon-cross:before {
  content: "\e607";
}
.icon-cancel:before {
  content: "\e608";
}
.icon-facebook-with-circle:before {
  content: "\e609";
}
.icon-search:before {
  content: "\e60a";
}
.icon-location:before {
  content: "\e947";
}
.icon-spinner8:before {
  content: "\e981";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-facebook3:before {
  content: "\ea8e";
}
.icon-instagram:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea91";
}
.icon-twitter2:before {
  content: "\ea92";
}
.icon-twitter3:before {
  content: "\ea93";
}
.icon-quote2:before {
  content: "\e61a";
}
.icon-quote3:before {
  content: "\e61b";
}
.icon-calendar3:before {
  content: "\e610";
}
.icon-pinterest-with-circle:before {
  content: "\e61d";
}
.icon-pinterest2:before {
  content: "\e61e";
}
.icon-chevron-thin-up:before {
  content: "\e617";
}
.icon-chevron-small-up:before {
  content: "\e618";
}
.icon-chevron-thin-down:before {
  content: "\e615";
}
.icon-chevron-small-down:before {
  content: "\e616";
}
.icon-check2:before {
  content: "\e612";
}
.icon-chevron-thin-right:before {
  content: "\e60d";
}
.icon-chevron-thin-left:before {
  content: "\e60c";
}
.icon-share-alt:before {
  content: "\e61c";
}
.icon-check-circle-o:before {
  content: "\e613";
}
.icon-check-circle:before {
  content: "\e614";
}

/* tamanhos */
.font-large {
  font-size: rem-calc(22);
}
.font-medium {
  font-size: rem-calc(18);
}
.font-normal {
  font-size: rem-calc(14);
}
.font-small {
  font-size: rem-calc(12);
}

/* peso */
.font-bold {
  font-weight: 800;
}
.font-lite {
  font-weight: 300;
}
.font-regular {
  font-weight: 500;
}

/* caixa */
.text-up {
  text-transform: uppercase;
}
.text-low {
  text-transform: lowercase;
}

/* altura da linha */
.lh-zero {
  line-height: 0;
}
.lh-small {
  line-height: 1;
}

/* cores */
.white {
  color: white !important;
}
.less-opc {
  opacity: .6;
}

/*
  Backgrounds
  --------------------------------------------
*/
.bg-cover {
  background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/*
  Listas
  --------------------------------------------
*/
.clear-first {
  li:first-child {
    margin-left: 0;
  }
}

.site-menu {
  li > ul {
    @extend .no-bullet;
    @extend .no-margin;
    h6 {
      @extend .font-lite;
    }
  }
}

/*
	Botões
  --------------------------------------------
 */
.button, a {
  transition: all .3s linear !important;
}

/*
  Margens
  --------------------------------------------
*/
.no-margin {
  margin: 0 !important;
}
.divide-5 {
  @extend .left;
  @extend .small-12;
  margin-bottom: rem-calc(5);
}
.divide-10 {
  @extend .left;
  @extend .small-12;
  margin-bottom: rem-calc(10);
}
.divide-20 {
  @extend .left;
  @extend .small-12;
  margin-bottom: rem-calc(20);
}
.divide-30 {
  @extend .left;
  @extend .small-12;
  margin-bottom: rem-calc(30);
}
.divide-40 {
  @extend .left;
  @extend .small-12;
  margin-bottom: rem-calc(40);
}
.no-pdb {
  padding-bottom: 0 !important;
}
.pd-form {
  width: 48% !important;
}
/*
  Comportamentos
  --------------------------------------------
*/
.d-block {
  display: block;
}
.d-iblock {
  display: inline-block;
}
.d-table {
  display: table;
}
.d-table-cell {
  display: table-cell;
  vertical-align: middle;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.left-axy {
  top: 0; left: 0;
}


/*
  Formulários
  --------------------------------------------
*/
.generic-form {
  p {
    @extend .divide-20;
  }
  input {
    @extend .no-margin;
  }
  input:not([type="checkbox"]),select {
    height: rem-calc(60);
    font-size: rem-calc(15);
    padding: rem-calc(0 20);
  }
  textarea {
    padding: rem-calc(20);
  }
}
.generic-btn {
  border-style: solid;
  padding-left: rem-calc(40);
  padding-right: rem-calc(40);
  &.button {
    border-width: 5px;
  }
}
input[name="anexo"] {
  display: none;
}
.attach-name {
  font-size: rem-calc(12);
  line-height: rem-calc(60);
  margin-left: rem-calc(10);
  color: #999;
}
.custom-select {
  span {
    display: none;
    @extend .small-12;
    @extend .left;
    @extend %transition;
    padding: rem-calc(20);
    border: 1px solid #ccc;
    color: #999;
    cursor: pointer;

    &:hover {
      color: #666;
      background-color: #f1f1f1;
    }
    
    &.active {
      @extend .d-block;
    }
  }
  .icon-chevron-thin-down {
    color: #999;
    font-size: rem-calc(32);
    right: rem-calc(20);
    top: 0;
    line-height: rem-calc(65);
    cursor: pointer;
  }
}

/*
  Animações
  --------------------------------------------
*/
.icon-spinner8 {
  -webkit-animation: rotate 2s infinite;
  -moz-animation: rotate 2s infinite;
  -ms-animation: rotate 2s infinite;
  -o-animation: rotate 2s infinite;
  animation: rotate 2s infinite;
}

@-webkit-keyframes rotate {
  0% {
    /* style */
    -webkit-transform: rotate(0);
  }
  100% {
    /* style */
    -webkit-transform: rotate(-360deg);
  }
}
@-moz-keyframes rotate {
  0% {
    /* style */
    -moz-transform: rotate(0);
  }
  100% {
    /* style */
    -moz-transform: rotate(-360deg);
  }
}
@-ms-keyframes rotate {
  0% {
    /* style */
    -ms-transform: rotate(0);
  }
  100% {
    /* style */
    -ms-transform: rotate(-360deg);
  }
}
@-o-keyframes rotate {
  0% {
    /* style */
    -o-transform: rotate(0);
  }
  100% {
    /* style */
    -o-transform: rotate(-360deg);
  }
}
@keyframes rotate {
  0% {
    /* style */
    transform: rotate(0);
  }
  100% {
    /* style */
    transform: rotate(-360deg);
  }
}
