/*
  Lojas e revedas
  --------------------------------------------
*/
#mapInner {
	> figure, > nav {
		height: rem-calc(500) !important;
		overflow: hidden;
		@extend .rel;
	}
}
.item-local {
	padding: rem-calc(20 40);
	padding-top: rem-calc(50);
	cursor: pointer;
	border-bottom-width: 1px;
	border-bottom-style: solid;

	.icon-location {
		font-size: rem-calc(34);
		top: 0; left: rem-calc(-40);
	}
}
.social-share {
	font-size: rem-calc(30);
	a {
		margin-right: rem-calc(8);
	}
}

/*
  Seja revendedor
  --------------------------------------------
*/
#revendedor-header {
	height: rem-calc(600);
	hgroup {
		z-index: 9;
	}
	p {
		font-size: rem-calc(18) !important;
		font-weight: 300 !important;
		line-height: 1.4 !important;
	}
	.button {
		background-color: transparent;
	}
}

.revendedor-skills {
	padding: rem-calc(60 0);
	p {
		opacity: .7;
	}
}

.choose-people {
	font-size: rem-calc(20);
	opacity: .6;
	cursor: pointer;
	&.active {
		text-decoration: underline;
		opacity: 1;
	}
}

.jump-questions {
	cursor: pointer;
	font-size: rem-calc(18);
}

#testimonials-slider {
	height: rem-calc(500);
	@extend .d-table;
	.icon-quotes-left {
		@extend .less-opc;
	}
}

.testimonial-avatar {
	display: inline-block;
	width: rem-calc(50);
	height: rem-calc(50);
	border-radius: 100%;
	@include translateY(20px);
}

.pager-container span {
  background-color: #ffffff;
  border: 2px solid #ffffff;
}

//perguntas frequentes
#faq-list {
	margin-bottom: rem-calc(60);
	header {
		padding: rem-calc(100 0);
	}
	li {
		@extend .d-block;
		@extend .small-12;
		@extend .left;
		@extend .rel;
		cursor: pointer;
		> span {
			@extend .d-block;
			height: rem-calc(80);
			line-height: rem-calc(80);
			i {
				@extend .rel;
				top: rem-calc(30);
			}
		}
		> div {
			display: none;
			padding-bottom: rem-calc(40);
		}

		&.active {
			> span {
				color: #069;
				i {
					@include rotate(-180deg);
				}
			}
			> div {
				display: block;
			}
		}
	}
}

/*
  Campanha
  --------------------------------------------
*/

$campaing-height: rem-calc(800);

#campaing-slider {
	height: $campaing-height;
	figure {
		@extend %full-height;
	}
}

.ui-list {
	> h3 {
		cursor: pointer;
		width: rem-calc(60);
		height: rem-calc(60);
		border-width: 3px;
		border-style: solid;
		line-height: 0;
		@extend %transition;
		&:hover {
			ul {
				display: block;
			}
		}

		&:not(:first-child) {
			border-left: none;
		}
	}
	a:not(.go-shop) {
		width: rem-calc(60);
		height: rem-calc(60);
		@extend .d-iblock;
		font-size: rem-calc(28);
		@extend .text-center;
		span {
			line-height: rem-calc(60);
		}
		&:hover {
			opacity: .7;
		}
	}
	ul {
		@extend .abs;
		left: -3px;
		top: 100%;
		z-index: 99;
		display: none;
	}
}

.active-thumb {
	> div {
		height: rem-calc(730);
		background-color: #222;
		overflow: hidden;
	}
}

.nav-campaing {
	top: 50%;
	font-size: rem-calc(50);
	@extend .white;
	//height: rem-calc(730);
	z-index: 990;
	
	&:hover {
		opacity: .7;
	}

	&.next-campaing {
		left: 0;
	}
	&.prev-campaing {
		right: 0;
	}
}

.social-thumb {
	z-index: 999 !important;
}

.campaing-thumb {
	img {
		height: 100%;
		width: auto;
		max-width: none;
	}
}
#campaing-carousel .owl-item {
	background-color: #222;
}
.campaing-carousel-th {
	@extend .small-12;
	@extend %transition;
	cursor: pointer;
	height: rem-calc(97);
	float: left;
	opacity: .5;

	&.active,&:hover {
		opacity: 1;
	}
}
.load-gift {
	display: none;
	&.show {
		display: block;
	}
}
.gallery-item {
	@extend %transition;
	&:hover {
		@include filter(grayscale(100%));
	}
}

//tabela de medidads
.table-header {
	background-color: #f0f0f0;
	padding-top: rem-calc(20);
	padding-bottom: rem-calc(20);

	h6 {
		color: #444;
	}

	span[data-tooltip] {
		top: rem-calc(560) !important;
	}
}
.lb-table {
	height: rem-calc(320);
	overflow: hidden;
	display: none;
	&.active {
		display: block;
	}
}
.table-row {
	padding: rem-calc(10 0);
	border-bottom: 1px solid #f0f0f0;
}

//dar de presente
.gift-modal {
	input {
		height: rem-calc(50);
		border-color: #ccc;
	}
	textarea {
		height: rem-calc(250);
		border-color: #ccc;
	}
}


@media #{$small-only} {
	#revendedor-header {
		height: rem-calc(400);
	}
	#faq-list {
		header {
			padding: rem-calc(60 0);
		}
		li {
			> span {
				line-height: 1;
				height: auto;
				margin-bottom: rem-calc(10);
				span {
					display: block;
					width: 90%;
				}
				i {
					position: absolute;
					top: 0;
					right: 0;
				}
			}
		}
	}
	
	//slider
	#campaing-slider {
		height: rem-calc(370);
	}
	.active-thumb {
		> div {
			height: rem-calc(300);
		}
	}
	.nav-campaing {
		display: none;
	}
	.ui-list {
		> h3 {
			width: rem-calc(50);
		}
	}

	.table-header {
		.has-tip {
			display: none;
		}
	}
}

@media #{$medium-only} {
	//slider
	#campaing-slider {
		height: rem-calc(670);
	}
	.active-thumb {
		> div {
			height: rem-calc(600);
		}
	}
	.nav-campaing {
		//height: rem-calc(600);
		&.next-campaing {
			left: rem-calc(20);
		}
		&.prev-campaing {
			right: rem-calc(20);
		}
	}

	.table-header {
		.has-tip {
			display: none;
		}
	}
}

@media #{$medium-up} {
	#testimonials-slider {
		.icon-quotes-left { font-size: rem-calc(72); }
	}
}

@media #{$large-up} {
	.revendedor-skills {
		margin-bottom: rem-calc(100);
		margin-top: rem-calc(60);
	}
}