#blog-layer {
	background-color:#e8e8e8;
}
#blog-layer a {
	color: #dd9933;
}
#blog-layer a:hover {
	color: #333;
}
#blog-layer p {
	color: #0b6bbf;
}
.blog-card > .d-table {
	border-width: 6px;
	border-style: solid;
	border-color: #ffffff;
}