.gmap-layer {
	background-color: #f1f1f1;
}
.gmap-layer .icon-location {
	font-size: 58px;
	margin-top: 50px;
	color: #dd1111;
}
.gmap-title h2 {
	font-weight: 800;
    margin: 20px 0;
    margin-bottom: 46px;
    line-height: 1;
    color: #dd1111;
}
.gmap-layer a:not(.button):hover {
	opacity: .8;
	color: #48992d;
}
.gmap-layer .button {
	background-color: #ffffff;
    color: #0a0a0a;
    padding: 0 40px;
    height: 68px;
    display: table;
}
.gmap-layer .button:hover,
.gmap-layer .button:focus {
	background-color: #0a0a0a;
	color: #ffffff;
}
.gmap-layer .button span {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}
.city-name {
	font-size: 14px;
	color: #dd1111;
}
.gmap-layer input[type="text"] {
	height: 68px;
	padding: 0 40px;
	border-color: #ffffff;
	border-width: 4px;
	background-color: #333333;
	color: #ffffff;
}
.gmap-layer ::-webkit-input-placeholder {
   color: #ffffff;
}

.gmap-layer :-moz-placeholder { /* Firefox 18- */
   color: #ffffff;  
}

.gmap-layer ::-moz-placeholder {  /* Firefox 19+ */
   color: #ffffff;  
}

.gmap-layer :-ms-input-placeholder {  
   color: #ffffff;  
}
.map-info-block {
	background-color: #333333;
}
.map-info-block p,
.map-info-block h2,
.map-info-block h3,
.map-info-block h4,
.map-info-block h6 {
	color: #ffffff;
}
.close-local-info {
	margin: 16px 0;
	font-size: 22px;
}
.close-local-info a,
.local-social a {
	color: #ffffff;
}
.gmap-layer .map-info-block .icon-location {
	margin: 13px 0 0 0;
	margin-right: 10px;
	font-size: 48px;
	left: -48px; top: 0;
	color: #ffffff;
}
.gmap-layer strong {
	color: #48992d;
}
.local-social {
	font-size: 36px;
}

.local-social a {
	margin-right: 10px;
}
.gmap-layer .icon-search {
	top: 20px;
	right: 30px;
	color: #ffffff;
	font-size: 26px;
}