#instagram-profile {
  background-color: #ffffff;
  padding: 50px 0;
}
.profile-panel {
  background-color: #069;
  display: table;
  border: 5px solid #0a0a0a;
  height: 159px;
}
.profile-panel > div {
  display: table-cell;
  vertical-align: middle;
}
.profile-panel h1 {
  font-size: 46px;
  margin-bottom: 15px;
}
.profile-panel h1,
.profile-panel h3,
.profile-panel p,
.profile-gallery a > span {
  color: #fff;
}
