#instagram-hash {
  background-color: #212121;
  padding: 50px 0;
}
.hash-panel {
  background-color: #069;
  display: table;
  border: 5px solid #fff;
  height: 318px;
}
.hash-panel > div {
  display: table-cell;
  vertical-align: middle;
}
.hash-panel h1 {
  font-size: 56px;
  margin-bottom: 20px;
}
.hash-panel h1,
.hash-panel h2,
.hash-panel p,
.hash-gallery a > span {
  color: #fff;
}
