#smart-us {
	background-color:#eaeaea;
}
#smart-us .button {
	color: #ffffff;
	background: transparent;
	border-width: 2px;
	border-style: solid;
	border-color: #f9f9f9;
}
#smart-us .button:hover {
	color: #dd3333;
	border-color: #dd3333;
}
#smart-us p, #smart-us h2 {
	color: #dd9933;
}