#blog-layer {
	padding: rem-calc(60 0);
	.career {
		border: none !important;
	}
}
.blog-card {

	> .d-table {
		height: rem-calc(415);
		padding: rem-calc(20);
		@extend .rel;

		> .d-table-cell {
			@extend %transition;
			height: rem-calc(346);
			background-color: rgba($white, .85);
			padding: rem-calc(30);
		}
	}

	&:hover {
		.d-table-cell {
			background-color: $white;
		}
	}

	h5,.font-small {
		@extend .abs;
		@extend .small-12;
		@extend .no-margin;
		left: 0;
	}

	h5 {
		top: rem-calc(60);
	}

	.font-small {
		bottom: rem-calc(60);
	}

	a.abs {
		top: 0; left: 0;
		@extend %full-height;
	}
}

@media #{$small-only} {
	.blog-card {
		> .d-table {
			height: rem-calc(300);

			> .d-table-cell {
				height: rem-calc(251);
			}
		}
		h5,h4 {
			font-size: rem-calc(16) !important;
		}
		p:not(.font-small) {
			display: none;
		}
		&:not(:first-child) {
			margin-top: rem-calc(20);
		}
	}
}

@media #{$medium-only} {
	.blog-card {
		> .d-table {
			height: rem-calc(300);

			> .d-table-cell {
				height: rem-calc(251);
			}
		}
		h5,h4 {
			font-size: rem-calc(16) !important;
		}
		p:not(.font-small) {
			display: none;
		}
	}
}