#comp-geo {
	padding-bottom: 0;
}

.geo-btn,
#comp-geo input[type="text"] {
	height: rem-calc(72);
	@extend %transition;
	line-height: rem-calc(68);
	padding: rem-calc(0 20);
}
#comp-geo input[type="text"] {
	padding-right: rem-calc(60);
}
.search-location {
	> span:not(.twitter-typeahead) {
		font-size: rem-calc(32);
		line-height: rem-calc(70);
		right: rem-calc(30);
		top: 0;
	}
}
.twitter-typeahead {
	@extend .small-12;
	@extend .columns;
}
.tt-suggestion {
	padding: rem-calc(10);
	cursor: pointer;
	&:hover {
		background-color: #006699;
	}
}
#map-layer {
	height: rem-calc(420);
}