#footer {
  padding: rem-calc(40 0);
}
.logo-footer {
  margin-bottom: rem-calc(20);
  img {
    max-height: rem-calc(60);
  }
}
.social-footer,
.share-footer {
  li {
    margin-left: rem-calc(10);
    &:first-child {
      margin-left: 0;
    }
  }
}
.footer-menu {
  h6 {
    font-size: rem-calc(14);
  }
}

//Social buttons
.fb_iframe_widget {
  line-height: 1.2;
}
div[id^="___plusone"] {
  width: 63px !important;
}
iframe[name^="oauth"] {
  left: 0;
}
