#footer {
	padding: rem-calc(40 0);
}
#social-footer {
	li:not(:first-child) {
		margin-left: rem-calc(10);
	}
	a {
		font-size: rem-calc(36);
	}
}
.share-footer {
	iframe[id^="twitter-widget"],
	div[id^="___plusone"] {
		margin-top: rem-calc(4) !important;
	}
}
iframe[id^="oauth"] {
	left: 0;
}