#gallery-campaing {
	padding-bottom: rem-calc(30);
}
.photo-collection {
	/* Prevent vertical gaps 
	line-height: 0;
	//margin-bottom: rem-calc(30);

	-webkit-column-count: 2;
	-webkit-column-gap:   0px;
	-moz-column-count:    2;
	-moz-column-gap:      0px;
	column-count:         2;
	column-gap:           0px;  */
}
.gallery-item {

	margin-bottom: rem-calc(30);
	@extend %transition;

	h3 {
		background-color: #fff;
		z-index: 990;
	}

	&:hover {
		img:not(.icon_share) {
		}
	}

	//@extend .clearfix;
	a {
		opacity: .9;

		&.left-axy {
			@extend %full-height;
			z-index: 99;
		}

		span,.d-table {
			@extend %full-height;
		}
		i {
			@extend .d-iblock;
			width: rem-calc(70);
			height: rem-calc(70);
			font-size: rem-calc(40);
			border-radius: 100%;
			&:before {
				line-height: rem-calc(68);
				margin-left: rem-calc(8);
				@extend .d-iblock;
			}
		}
		&:hover {
			opacity: 1;
		}
	}
	img:not(.icon_share) {
		width: 100%;
		height: auto;
	}
}
.video-modal {
	background: transparent;
	border: none;
	box-shadow: none;
	.close-reveal-modal {
		top: rem-calc(-20);
		color: #fff;
	}
}

.play-media i {
	background-color: #1c1c1c;
	color: #ffffff;
	border: 2px solid #ffffff;
}