#map-layer {
	&:not(.inner-layer) {
		width: 100%;
		height: rem-calc(560);	
	}
	&.mini-map {
		height: rem-calc(370);
	}
}

.map-info-block {
	left: 0; top: 0;
	@extend %full-height;
	@extend %transition;
	@include translateX(-100%);
	opacity: 0;

	&.active {
		@include translateX(0);
		opacity: 1;
	}
}

#mapInner {
	.btn-userlocal,
	.form-control {
		height: rem-calc(60);
	}
	.btn-userlocal {
		line-height: rem-calc(30);
	}
	.icon-search {
		top: 0;
		right: rem-calc(26);
		font-size: rem-calc(36);
		line-height: rem-calc(60);
	}
}

@media #{$small-only} {
	.btn-userlocal,
	.search-local input {
		font-size: rem-calc(12) !important;
	}
}

//Lojas e revendas


@media #{$medium-only} {
	.btn-userlocal,
	.search-local input {
		font-size: rem-calc(14) !important;
	}
}

@media #{$medium-up} {
	.map-info-block {
		width: rem-calc(540);
	}
}
