.hash-gallery,
.profile-gallery {
	ul {
		padding: 0 rem-calc(10);
	}
	a {
		@extend %transition;
		@extend .d-block;
		&:hover {
			opacity: .8;
		}

		span {
			bottom: 15px;
		    right: 15px;
		    font-size: rem-calc(26);
		    opacity: .8;
		}
	}
}

@media #{$small-only} {
	.hash-panel {
		height: rem-calc(150) !important;
		margin-bottom: rem-calc(20);
		h1 {
			font-size: rem-calc(36) !important;
		}
	}
}

@media #{$medium-only} {
	.hash-panel {
		height: rem-calc(228) !important;
		h1 {
			font-size: rem-calc(42) !important;
		}
	}
}
