@media #{$small-only} {
	.profile-panel {
		height: rem-calc(119) !important;
		margin-bottom: rem-calc(20);
		h1 {
			font-size: rem-calc(30) !important;
		}
		h3 {
			font-size: rem-calc(24);
		}
	}
}

@media #{$medium-only} {
	.profile-panel {
		height: rem-calc(119) !important;
		margin-bottom: rem-calc(20);
		h1 {
			font-size: rem-calc(30) !important;
		}
		h3 {
			font-size: rem-calc(24);
		}
	}
}
