#nav-fixed {
  position: fixed;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  @include translateY(-100%);
  @extend %transition;

  &.show {
    visibility: visible;
    opacity: 1;
    @include translateY(0);
  }

  .row {
    max-height: rem-calc(45);
  }

  .logo {
    img {
      max-height: rem-calc(45);
    }
  }

  .toggle-menu {
    font-size: rem-calc(32);
    line-height: 1;
  }
}

#main-menu {
  padding: rem-calc(20 0);
  .row {
    height: rem-calc(100);
    @extend .d-table;
  }
}
.logo {
  img {
    max-height: rem-calc(100);
  }
  @extend %transition;
  &:hover {
    opacity: .8;
  }
}
.toggle-menu {
  line-height: rem-calc(100);
  cursor: pointer;
  @include translateY(rem-calc(4));
}
#off-menu {
  @extend %transition;
  visibility: hidden;
  opacity: 0;
  @include translateX(100%);
  position: fixed;
  width: rem-calc(300);
  right: 0;
  top: 0;
  height: 100%;
  z-index: 9999;
  padding: rem-calc(30);
  &.show {
    @include translateX(0);
    opacity: 1;
    visibility: visible;
  }
  header {
    margin-bottom: rem-calc(40);
  }
  h4 {
    @extend .text-up;
    font-size: rem-calc(16);
  }
  ul:not(.social-off) li {
    @extend .small-12;
    @extend .left;
    margin-bottom: 5px;
  }
  a {
    &:hover {
      opacity: .7;
    }
  }
}
.social-off {
  li:not(:first-child) {
    margin-left: 10px;
  }
}
.close-menu {
  font-size: rem-calc(36);
  margin-bottom: 20px;
}
.hide-menu {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba($white, .7);
  display: none;

  &.show {
    display: block;
  }
}
