#newsletter {
	padding: rem-calc(90 0);
	button,.button {
		background-color: transparent;
		border-width: rem-calc(3);
		&:hover {
			opacity: .6;
		}
		height: rem-calc(60);
		@extend .no-margin;
	}
	input {
		height: rem-calc(60);
		padding-left: rem-calc(20);
		padding-right: rem-calc(20);
		@extend .no-margin;
		&:focus {
			background-color: transparent;
		}
	}
}