$slider-height: 490;
$slider-height-mo: 320;

#panel-slider {
  background-color: #F0F0F0;
  //height: rem-calc($slider-height);
  > .load-slide {
    height: 100%;
    top: 0; left: 0;
  }
  &:hover {
    .nav-panel {
      visibility: visible;
      opacity: 1;
    }
    .next-panel,
    .prev-panel {
      @include translateX(0);
    }
    //.slider-th {
      //@include scale(1.02);
    //}
  }
}
.slider-items {
    overflow: hidden;
    //height: rem-calc($slider-height);

  figure {
    //height: rem-calc($slider-height);

    > .row {
      //height: rem-calc($slider-height);
      z-index: 1;
    }
    > a {
      @extend %full-height;
      top: 0; left: 0;
      z-index: 99;
    }
    h1,h5,h4 {
      text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
    }
  }

  hgroup {
    a {
      @extend .rel;
      z-index: 991;
    }
  }

  .button {
    margin-bottom: 0;
    margin-top: rem-calc(40);
  }
}
.slider-th {
  left: 0; top: 0;
  z-index: 0;
  @extend %full-height;
  @extend %transition;
}
.nav-panel {
  //height: rem-calc($slider-height);
  visibility: hidden;
  opacity: 0;
  font-size: rem-calc(42);
  z-index: 991;
}
.prev-panel {
  left: rem-calc(100);
  @include translateX(rem-calc(20));
}
.next-panel {
  right: rem-calc(100);
  @include translateX(rem-calc(-20));
}
.pager-container {
  bottom: rem-calc(20);
  z-index: 991;
  span {
    @extend .d-iblock;
    @extend %transition;
    width: rem-calc(15);
    height: rem-calc(15);
    border-radius: 100%;
    margin: rem-calc(0 5);
    cursor: pointer;
    &.cycle-pager-active {
      background-color: transparent;
      @include scale(1.5);
    }
  }
}

@media #{$small-only} {
  #panel-slider {
    height: rem-calc($slider-height-mo);
  }
  .slider-items {
    height: rem-calc($slider-height-mo);
    figure {
      height: rem-calc($slider-height-mo);
    }
    figure > .row {
      height: rem-calc($slider-height-mo);
    }
    h1 {
      font-size: rem-calc(26);
    }
  }
  .nav-panel {
    height: rem-calc($slider-height-mo);
  }
  .nav-panel {
    display: none;
  }
}
