#blog-header {
	.d-table {
		height: rem-calc(400);
	}
	h1 {
		font-size: rem-calc(120);
		@extend .no-margin;
		line-height: 1;
	}
	h5 {
		font-size: rem-calc(18);
		@extend .no-margin;
	}
}

//post na listagem
.post-item {
	padding: rem-calc(30);
	figure img {
		@extend %transition;
		&:hover {
			opacity: .8;
		}
	}
	a {
		@extend %transition;
	}
}
.post-date {
	img {
		margin-right: rem-calc(5);
	}
}
.post-author {
	padding: rem-calc(16);
}
.post-tags {
	li {
		&:not(:first-child) {
			margin-left: rem-calc(10);
			&:before {
				content: '\2022';
				@extend .left;
				margin-right: rem-calc(10);
			}
		}
		a {
			@extend .left;
			@extend .text-up;	
		}
	}
}

//Sidebar
#sidebar {
	a {
		@extend %transition;
	}
}
#side-search {
	padding: rem-calc(40 20);
	.icon-search {
		right: rem-calc(8);
	    line-height: rem-calc(64);
	    font-size: rem-calc(28);
	}
	a {
		@extend .text-up;
		@extend .text-up;
	}
	input {
		padding-right: rem-calc(38);
	}
}
#side-instagram {
	padding: rem-calc(40 20);
	header {
			img {
			height: rem-calc(80);
			width: auto;
		}
	}
}
#side-popular {
	padding: rem-calc(40 20);
}
#blog-newsletter {
	padding: rem-calc(60 0);

	input {
		width: rem-calc(350);
		display: inline-block !important;
	}	
}

@media #{$small-only} {
	#blog-header {
		.d-table {
			height: rem-calc(220);
		}
	}

	#blog-newsletter {
		button,input {
			width: 100%;
		}
	}
}
@media #{$medium-up} {
	#blog-newsletter {
		button {
			margin-left: rem-calc(20);
		}
	}
}