#contact-form {
	p {
		@extend .no-margin;
	}
}

.content-info {
	span {
		&:not(:first-child) {
			&:before {
				content: '\00a0|\00a0';
				display: inline;
			}
		}
	}
	
}

.contato-info {
	iframe {
		@extend .small-12;
		@extend .left;
		height: rem-calc(370) !important;
	}
}

.ui-choices {
	background-color: #fff;
	border: 1px solid #eaeaea;
	display: none;
	top: rem-calc(72);
	left: 0;

	&.active {
		display: block;
	}

	span {
		padding: rem-calc(20);
		@extend %transition;
		cursor: pointer;

		&:hover {
			background-color: #f1f1f1;
		}
	}
}