#look-header {
	height: rem-calc(580);
	overflow: hidden;

	video {
		@extend .small-12;
		height: auto;
	}

	.mask {
		@extend .small-12;
		@extend %full-height;
		@extend .abs;
	}
}

#look-list {
	img {
		@extend %transition;
	}
	a {
		&:hover {
			> img {
				@include filter(grayscale(100%));
			}
		}
	}

	.grid-item {
		&:hover {
			.share-item {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.share-item {
	width: rem-calc(67);
	height: rem-calc(67);
	background-color: #fff;
	border: 4px solid #333;
	cursor: pointer;
	z-index: 999;
	@extend %transition;
	opacity: 0;
	visibility: hidden;
	top: rem-calc(10);
	left: rem-calc(20);

	span {
		color: #333;
		font-size: rem-calc(20);
		line-height: 2;
	}

	&:hover {
		background-color: #333;
		span {
			color: #fff;
		}
		.share-icons {
			visibility: visible;
			opacity: 1;
		}
	}
}

.share-icons {
	left: rem-calc(-4);
	top: rem-calc(60);
	width: rem-calc(67);
	z-index: 999;
	visibility: hidden;
	opacity: 0;
	@extend %transition;

	a {
		@extend .d-block;
		@extend .small-12;
		height: rem-calc(67);
		background-color: #333;
		color: #fff;
		text-align: center;
		font-size: rem-calc(20);
		line-height: rem-calc(67);
	}
}

//interna
#look-slider {
	overflow: hidden;
	img {
		height: 100%;
		width: auto;
		max-width: none;
	}
}
#item-choices {
	ul {
		overflow: visible;
	}
	li {
		margin: 0;
		a {
			@extend .d-block;
			width: rem-calc(67);
			height: rem-calc(67);
			line-height: rem-calc(60);
			border-style: solid;
			border-width: 3px;
			border-left-width: 0px;

			img {
				width: rem-calc(29.8);
				height: auto;
			}
		}
		&:first-child {
			a {
				border-left-width: 3px;
			}
		}
	}
}
.share-look {
	.share-icons {
		left: 0;
		top: rem-calc(67);
	}
	&:hover {
		.share-icons {
			visibility: visible;
			opacity: 1;
		}
	}
}
.info-meters {
	padding: rem-calc(20 0);
	background-color: #f0f0f0;
	
	li {
		padding-bottom: 0;
	}
}
.meter-list {
	> ul li {
		border-bottom:1px solid #eaeaea;
		padding: rem-calc(10 0);

		li {
			padding-bottom: 0;
			border-bottom: none;
		}
	}
}
@media #{$small-only} {
	#look-header {
		height: rem-calc(200);
		h1 {
			font-size: rem-calc(22) !important;
		}
	}
	#look-slider, .list-items-look, .list-items-look figure {
		height: rem-calc(300) !important;
	}
}

@media #{$medium-only} {
	#look-slider, .list-items-look, .list-items-look figure {
		height: rem-calc(600) !important;
	}
}