#look-header, #camp-header {
	height: rem-calc(580);
	overflow: hidden;

	video {
		@extend .small-12;
		height: auto;
	}

	.mask {
		@extend .small-12;
		@extend %full-height;
		@extend .abs;
	}
}

#look-list, #camp-list {
	img {
		@extend %transition;
	}
	a {
		&:hover {
			> img {
				@include filter(grayscale(100%));
			}
		}
	}

	.grid-item {
		&:hover {
			.share-item {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.share-item {
	width: rem-calc(67);
	height: rem-calc(67);
	//background-color: #fff;
	//border: 4px solid #333;
	cursor: pointer;
	z-index: 999;
	@extend %transition;
	opacity: 0;
	visibility: hidden;
	top: rem-calc(10);
	left: rem-calc(20);

	span {
		//color: #333;
		font-size: rem-calc(20);
		line-height: 2;
	}

	&:hover {
		background-color: #333;
		/*span {
			color: #fff;
		}*/
		.share-icons {
			visibility: visible;
			opacity: 1;
		}
	}
}

.share-icons {
	left: 0;
	top: rem-calc(67);
	width: rem-calc(67);
	z-index: 999;
	visibility: hidden;
	opacity: 0;
	@extend %transition;

	a {
		@extend .d-block;
		@extend .small-12;
		height: rem-calc(67);
		//background-color: #333;
		//color: #fff;
		text-align: center;
		font-size: rem-calc(20);
		line-height: rem-calc(67);
	}
}

//interna
#look-slider {
	z-index: 999;
}
#look-slider, #camp-slider {
	overflow: hidden;
	img {
		height: 100%;
		width: auto;
		max-width: none;
	}
}
#item-choices {
	ul {
		overflow: visible;
	}
	li {
		margin: 0;

		a:not(.net-icon) {
			@extend .d-block;
			width: rem-calc(67);
			height: rem-calc(67);
			line-height: rem-calc(60);
			border-style: solid;
			border-width: 3px;
			border-left-width: 0px;

			img {
				width: rem-calc(29.8);
				height: auto;
			}
		}
		&:first-child {
			a {
				border-left-width: 3px;
			}
		}
	}
}
.share-look, .share-camp {
	z-index: 99999999;
	.share-icons {
		left: 0;
		top: rem-calc(67);
	}
	&:hover {
		.share-icons {
			visibility: visible;
			opacity: 1;
		}
	}
}
.info-meters {
	padding: rem-calc(20 0);
	background-color: #f0f0f0;
	
	li {
		padding-bottom: 0;
	}
}
.meter-list {
	height: rem-calc(220);
	position: relative;
	overflow: hidden;
	> ul li {
		border-bottom:1px solid #eaeaea;
		padding: rem-calc(10 0);

		li {
			padding-bottom: 0;
			border-bottom: none;
		}
	}
}
.list-choices {
	list-style: none;
	li {
		float: left;
	}
}

#campaing-carousel, #campaing-carousel .owl-wrapper-outer, #campaing-carousel .owl-wrapper, #campaing-carousel .owl-item {
	height: rem-calc(100);
	overflow: hidden;

	.item {
		width: rem-calc(100);
		height: 100%;
	}
}
.nav-look-thumbs {
	font-size: rem-calc(22);
	line-height: 100px;
	top: 0;
	z-index: 999;
}
.next-carousel {
	right: rem-calc(10);
}
.prev-carousel {
	left: rem-calc(10);
}
#campaing-carousel {
	figure {
		opacity: .8;
		cursor: pointer;
		&.active {
			opacity: 1;
		}
	}
}

.nav-lookbook {
	bottom: 0;
	font-size: rem-calc(36);
	z-index: 9999;
}
.prev-lookbook {
	right: rem-calc(20);
}
.next-lookbook {
	left: rem-calc(20);
}

.gift-form {
	button {
		background-color: transparent;
		border: 4px solid #333;
		padding: rem-calc(10 20);
		@extend .text-up;
		color: #333;
		font-weight: bold;
	}
}
.prod-ref {
	top: rem-calc(60);
	left: 0;
	span {
		@extend .text-up;
		font-size: rem-calc(16);
		color: #fff;
		padding: rem-calc(14 40);
		border: 2px solid #ffffff;
	}
}

@media #{$small-only} {
	#look-header,.nav-lookbook {
		height: rem-calc(200);
		h1 {
			font-size: rem-calc(22) !important;
		}
	}
	#look-slider, .list-items-look, .list-items-look figure {
		height: rem-calc(300) !important;
	}
	.nav-lookbook {
		display: none;
	}
}

@media #{$medium-only} {
	#look-slider, .list-items-look, .list-items-look figure, .nav-lookbook {
		height: rem-calc(600) !important;
	}
	.nav-lookbook {
		display: none;
	}
}