#panel-revendedor {
	.d-table {
		height: rem-calc(600);
	}
	.mask {
		@extend %full-height;
	}
}
.reven-btn-join {
	@extend %transition;
}
#reven-form {
	form {
		display: none;
		&.active {
			display: block;
		}
	}
	header {
		h2 {
			font-size: rem-calc(30);
		}
	}
	nav {
		a {
			@extend .d-block;
			padding: rem-calc(20 0);
			font-size: rem-calc(18);
			opacity: .7;

			&.active {
				background-color: #fff;
				opacity: 1;
				text-decoration: underline;
			}
		}
	}

	label {
		font-size: rem-calc(14);
	}
}

.forms-content {
	padding: rem-calc(40 20);
	span {
		line-height: 50px;
		font-size: rem-calc(13);
	}
	p {
		@extend .no-margin;
	}
}

.reven-info {
	padding: rem-calc(40);
	li {
		margin-bottom: rem-calc(0);
		@extend .d-block;
		@extend .small-12;
		@extend .left;
		height: 40px;
		line-height: 0;
	}

}

.infoblock-title {
	@extend .no-margin;
}

.contact-list {
	span {
		&:not(:first-child) {
			&:before {
				content: '\00a0|\00a0';
				display: inline;
			}
		}
	}
}

#list-testimonials {
	img {
		width: rem-calc(65);
		height: rem-calc(65);
		display: block;
		border-radius: 100%;
		margin-right: rem-calc(20);
	}
	.author-name {
		line-height: rem-calc(60);
	}
	.owl-page {
		span {
			display: inline-block;
			width: rem-calc(16);
			height: rem-calc(16);
			border-width: 2px;
			border-style: solid;
			border-radius: 100%;
			margin: rem-calc(0 5);
			cursor: pointer;
			@extend %transition;
		}
		&.active {
			span {
				background-color: transparent !important;
				color: transparent !important;
				@include scale(1.4);
			}
		}
	}
}

//perguntas e respostas
#faq-section {

	li, span {
		@extend .small-12;
		@extend .left;
		display: block;
	}

	span {
		padding: rem-calc(20);
	}

	.faq-answer {
		cursor: pointer;
		&.active {
			.icon-chevron-small-down {
				@include rotate(180deg);
			}
		}
	}

	.faq-reply {
		display: none;
		&.active {
			display: block;
		}	
	}

	.icon-chevron-small-down {
		font-size: rem-calc(22);
	}

}

@media #{$large-up} {
	.reven-info {
		width: rem-calc(480);
		float: right !important;
	}
	.icon-quotes-left {
		font-size: rem-calc(80);
	}
}