	<section id="gallery-campaing" class="small-12 left section-block rel">
		<div class="row">
			
			<!-- banner topo -->
			{% banner-top %}

			<div class="small-12 hide-onload text-center left">
				<img src="{% loader %}" alt="" class="d-iblock">
			</div>

			<!-- galeria -->
			<nav class="small-12 left photo-collection grid js-masonry show-onload">
				{% gallery %}
			</nav>
			
			<!-- banner rodape -->
			{% banner-bottom %}

		</div>
	</section>