<div class="gmap-layer">
	<div class="row">
		<div class="small-12 left">
			<header class="small-12 columns gmap-title text-center">
				<p><span class="icon-location d-iblock"></span></p>
				<h2>{% widget_title %}</h2>
			</header>

			<div class="small-12 left" ng-controller="TypeaheadCtrl">
				<p class="small-12 medium-6 small-text-center medium-text-left columns">
					<a href="#" class="btn-userlocal button text-up small-12 left">
						<span>Usar minha localização atual</span>
					</a>
					<span class="city-name"></span>
				</p>
				<p class="search-local small-12 medium-6 small-text-center medium-text-right columns rel">
				    <input type="text" ng-model="asyncSelected" placeholder="FAÇA UMA BUSCA PERSONALIZADA" typeahead="address for address in getLocation($viewValue) | filter:$viewValue" typeahead-loading="loadingLocations" typeahead-on-select="dataLocation(asyncSelected) | filter:$viewValue" class="form-control">
					<span class="icon-search abs show-for-large-up"></span>
				</p>
			</div>
		</div>
	</div>
	<!-- Mapa -->
	<div class="small-12 left rel ov-hidden show-locations">
		<div id="map-layer" class="small-12 left"
			data-arraylocal="{% local_data %}"
			data-usericon="{% user_icon %}"
			data-brandicon="{% brand_icon %}"
			data-brandiconover="{% brand_icon_over %}"
			data-lat="{% gmap_lat %}"
			data-lng="{% gmap_lng %}"
			>
		</div>
		<!-- Informações do local -->
		<div class="map-info-block small-12 abs">

			<span class="d-iblock divide-20 column text-right close-local-info">
				<a href="#" class="d-iblock icon-cross"></a>
			</span>

			<div class="small-12 medium-8 medium-offset-2 left">
				<header class="divide-20 column rel">
					<span class="icon-location left abs"></span>
					<hgroup class="left no-margin">
						<h2 class="local-name no-margin"></h2>
						<h6 class="local-type"></h6>
					</hgroup>
				</header>

				<article class="small-12 columns">
					<p class="local-street no-margin"></p>
					<p class="local-zipcode no-margin"></p>
					<p class="local-city"></p>
					<p class="local-phones"></p>
					<p class="local-whatsapp"></p>
					<p class="local-hours"></p>
					<p class="local-social"></p>
				</article>
			</div>

		</div>
	</div>
</div>
