<div id="instagram-hash" class="small-12 left">
	<div class="row">
		<div class="small-12 medium-4 columns">
			<!-- hash name -->
			<div class="hash-panel small-12 left">
				<div class="small-12 text-center">
					<hgroup class="small-12">
						<h1 class="icon-instagram"></h1>
						<p class="small-10 small-offset-1 show-for-medium-up">{% title %}</p>
						<h2 class="no-margin">#{% hash %}</h2>
					</hgroup>
				</div>
			</div>
		</div>
		<!-- hash gallery -->
		<nav class="hash-gallery small-12 medium-8 columns">
			{% gallery %}
		</nav>
	</div>
</div>