<div id="instagram-profile" class="small-12 left">
	<div class="row">
		<div class="small-12 medium-4 columns">
			<!-- profile name -->
			<div class="profile-panel small-12 left">
				<div class="small-12 text-center">
					<hgroup class="small-12">
						<h1 class="icon-instagram"></h1>
						<h3 class="no-margin">{% profile %}</h3>
					</hgroup>
				</div>
			</div>
		</div>
		<!-- profile gallery -->
		<nav class="profile-gallery small-12 medium-8 columns">
			{% gallery %}
		</nav>
	</div>
</div>
