<section id="panel-slider" class="small-12 left rel">
  <div class="load-slide d-table small-12 abs">
    <div class="d-table-cell small-12 text-center">
      <img src="{% load-img %}" alt="" class="d-iblock">
    </div>
  </div>
  <!-- sliders -->
  <nav class="small-12 left slider-items cycle-slideshow rel show-onload"
  data-cycle-fx="fade"
  data-cycle-timeout="8000"
  data-cycle-prev=".prev-panel"
  data-cycle-next=".next-panel"
  data-cycle-slides="> figure"
  data-cycle-pager=".panel-pager"
  data-cycle-pager-template="<span></span>"
  data-cycle-swipe="true"
  data-cycle-swipe-fx="scrollHorz"
  >
    {% list-banners %}
  </nav>

  <!-- navegação -->
  <a href="#" class="show-onload nav-panel next-panel d-table abs" title="Próximo slide">
    <div class="small-12 d-table-cell text-center">
      <span class="icon-chevron-thin-right"></span>
    </div>
  </a>

  <a href="#" class="show-onload nav-panel prev-panel d-table abs" title="Slide anterior">
    <div class="small-12 d-table-cell text-center">
      <span class="icon-chevron-thin-left"></span>
    </div>
  </a>

  <!-- pager -->
  <div class="show-onload small-12 text-center abs pager-container">
    <nav class="panel-pager d-iblock"></nav>
  </div>

</section>
