<section id="smart-us" class="small-12 left section-block">
	<div class="row">
		<header class="text-center small-12 left">
			<figure class="d-iblock">
				{% icon %}
			</figure>
			<h2>{% title %}</h2>
			<p class="font-lite divide-30">{% subtitle %}</p>
			<h2 class="no-margin"><a href="{% btn-url %}" title="{% btn-txt %}" class="button no-margin">{% btn-txt %}</a></h2>
		</header>
	</div>
</section>